# 제로베이스 데이터 취업 스쿨 SQL 과제 1

1.   항목 추가
2.   항목 추가


- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점 
- 3번 10점 
- 4번 5점 
- 5번 15점 
- 6번 15점
- 7번 40점 
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1. 

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [3]:
pip install mysql-connector-python
!pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\user\anaconda3\lib\site-packages (from googlemaps) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40750 sha256=f34153e1f4875df3bc848c3956fa87117509600ab12206e95f3c68c608a7d924
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\ca\e3\07\3a193cac660b6210a88180b659cb251f941cbff99a0f556136
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

In [16]:
import mysql.connector

oneday = mysql.connector.connect(
    host = 'oneday.cg9o7spxrfwt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = 'zerobase',
    database = 'oneday'
)

cursor = oneday.cursor(buffered=True)
cursor.execute("create user 'oneday'@'%' identified by '1234'")

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [3]:
cursor.execute("show create database oneday")
cursor.execute("show grants for 'oneday'@'%'")
results = cursor.fetchall()
for result in results:
    print(result)

('GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, PROCESS, REFERENCES, INDEX, ALTER, SHOW DATABASES, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER ON *.* TO `oneday`@`%` WITH GRANT OPTION',)

문제 2. 

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [4]:
cursor.execute("use oneday")
cursor.execute("create table COFFEE_BRAND (id int PRIMARY KEY, name varchar(16))")
cursor.execute("""create table COFFEE_STORE (
                id int primary key auto_increment,
                brand int, foreign key(brand) references COFFEE_BRAND(id) on update cascade,
                name varchar(100),
                gu_name varchar(100),
                address varchar(100),
                lat decimal(16, 14),
                lng decimal(17, 14)
            )""")

ProgrammingError: 1050 (42S01): Table 'COFFEE_BRAND' already exists

문제 3. 

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [6]:
cursor.execute("insert into COFFEE_BRAND (id, name) values (1, 'STARBUCKS')")
cursor.execute("insert into COFFEE_BRAND (id, name) values (2, 'EDIYA')")
results = cursor.fetchall()
for result in results:
    print(result)

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'COFFEE_BRAND.PRIMARY'

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [7]:
cursor.execute("desc COFFEE_BRAND")
cursor.execute("desc COFFEE_STORE")
results = cucursorr.fetchall()
for result in results:
    print(result)

('id', b'int', 'NO', 'PRI', None, '')
('brand', b'int', 'YES', 'MUL', None, '')
('name', b'varchar(100)', 'YES', '', None, '')
('gu_name', b'varchar(100)', 'YES', '', None, '')
('address', b'varchar(100)', 'YES', '', None, '')
('lat', b'decimal(16,14)', 'YES', '', None, '')
('lng', b'decimal(17,14)', 'YES', '', None, '')

In [8]:
cursor.execute("select * from COFFEE_BRAND")
results = cursor.fetchall()
for result in results:
    print(result)

(1, 'STARBUCKS')
(2, 'EDIYA')

문제 4. 

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

문제 5. 

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [17]:
import pandas as pd
import numpy as np
from urllib.request import urlopen, Request
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import re

driver = webdriver.Chrome('./chromedriver.exe')
driver.get("https://www.starbucks.co.kr/store/store_map.do?disp=locale")
time.sleep(20)
local = driver.find_element(By.CLASS_NAME, 'loca_search')
local.click()
time.sleep(20)

seoul = driver.find_element(By.CLASS_NAME, 'sido_arae_box')
li = seoul.find_elements(By.TAG_NAME, 'li')
li[0].click()
time.sleep(20)

gugun = driver.find_element(By.CLASS_NAME, 'gugun_arae_box')
li = gugun.find_elements(By.TAG_NAME, 'li')
li[0].click()
time.sleep(20)
source = driver.page_source

bs = BeautifulSoup(source, 'html.parser')
driver.quit()

entire = bs.find_all('li', {"class": "quickResultLstCon"})

seoul_star_name = []
seoul_star_lat = []
seoul_star_lng = []

for num in range(len(entire)):
    seoul_star_name.append(entire[num]["data-name"].strip())
    seoul_star_lat.append(entire[num]["data-lat"].strip())
    seoul_star_lng.append(entire[num]["data-long"].strip())

starbucks_list = {
    "매장" : seoul_star_name,
    "lat" : seoul_star_lat,
    "lng" : seoul_star_lng
}

starbucks_df = pd.DataFrame(starbucks_list)

seoul_gu = []

for i in range(len(entire)):
    seoul_gu.append(re.split(" ", entire[i].get_text())[5])

seoul_gu_one = []

for name in seoul_gu:
    if name not in seoul_gu_one:
        seoul_gu_one.append(name)

starbucks_df["구"] = seoul_gu

a = []
for num in range(len(starbucks_df)):
    a.append(entire[num].find("p").get_text()[0:len(entire[num].find("p").get_text()) - 9])

starbucks_df["주소"] = a
starbucks_df = starbucks_df[starbucks_df["구"] != "고양시"]

starbucks_df = starbucks_df[["매장", "주소", "구", "lat", "lng"]]

sql = "insert into COFFEE_STORE (brand, name, address, gu_name, lat, lng) values (1, %s, %s, %s, %s, %s)"

for i, row in starbucks_df.iterrows():
    cursor.execute(sql, tuple(row))
    
oneday.commit()
driver.quit()

C:\Users\User\AppData\Local\Temp\ipykernel_17420\3477845209.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver.exe')

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [9]:
from selenium import webdriver
driver = webdriver.Chrome('./chromedriver.exe')
driver.get("https://www.starbucks.co.kr/store/store_map.do?disp=locale")
try:
    driver.find_element_by_css_selector('.holiday_notice_close a').click()
except:
    print("Popup not found.")

C:\Users\User\AppData\Local\Temp\ipykernel_17420\3636790459.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver.exe')

Popup not found.

In [10]:
# 데이터베이스에서 데이터 개수와 상위 10개 레코드 조회
cursor.execute("SELECT COUNT(*) FROM COFFEE_STORE")
total_count = cursor.fetchone()[0]
print("총 %d개의 매장 정보가 입력되었습니다." % total_count)

cursor.execute("SELECT * FROM COFFEE_STORE LIMIT 10")
rows = cursor.fetchall()
for row in rows:
    print(row)

총 599개의 매장 정보가 입력되었습니다.
(2397, 1, '역삼아레나빌딩', '강남구', '서울특별시 강남구 언주로 425 (역삼동)', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2398, 1, '논현역사거리', '강남구', '서울특별시 강남구 강남대로 538 (논현동)', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(2399, 1, '신사역성일빌딩', '강남구', '서울특별시 강남구 강남대로 584 (논현동)', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(2400, 1, '국기원사거리', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(2401, 1, '대치재경빌딩R', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(2402, 1, '봉은사역', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(2403, 1, '압구정윤성빌딩', '강남구', '서울특별시 강남구 논현로 834 (신사동)', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(2404, 1, '코엑스별마당', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(2405, 1, '삼성역섬유센터R', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(2406, 1, '압구정R', '강남구', '서울특별시 강남구 언주로 861 (신사동)', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

문제 6. 

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [18]:
import googlemaps

driver = webdriver.Chrome('./chromedriver.exe')
driver.get("https://www.ediya.com/contents/find_store.html#c")
time.sleep(20)
local = driver.find_element(By.XPATH, '//*[@id="contentWrap"]/div[3]/div/div[1]/ul/li[2]/a')
local.click()

for i in range(len(seoul_gu_one) - 1):
    if seoul_gu_one[i] =="서울특별시":
        del seoul_gu_one[i]
    seoul_gu_one[i] = "서울 " + seoul_gu_one[i]

edi_name = []
edi_address = []

for num in seoul_gu_one:
    some_tag = driver.find_element(By.XPATH, '//*[@id="keyword"]')
    some_tag.send_keys(num)
    time.sleep(1)

    driver.find_element(By.XPATH, '//*[@id="keyword_div"]/form/button').click()
    time.sleep(2)
    
    edi_soup = BeautifulSoup(driver.page_source, 'html.parser')

    for i in range(len(edi_soup.find_all("li", {"class" : "item"}))):
        edi_name.append(edi_soup.find_all("li", {"class" : "item"})[i].find("dt").text)
        edi_address.append(edi_soup.find_all("li", {"class" : "item"})[i].get_text())

    some_tag.clear()
    time.sleep(1)

edi_list = {
    "매장" : edi_name,
    "주소" : edi_address,
}

edi_df = pd.DataFrame(edi_list)

gmaps_key = "AIzaSyC8awub1OYEUlUzUboX4H0vq2qqOLEtXvw"
gmaps = googlemaps.Client(key=gmaps_key)

for i in range(len(edi_address)):
    if len(edi_address[i].split()) > 4:
        edi_address[i] = edi_address[i].split()[1] + edi_address[i].split()[2] + edi_address[i].split()[3] + edi_address[i].split()[4]
    else: 
        edi_address[i] = edi_address[i].split()[1] + edi_address[i].split()[2] + edi_address[i].split()[3] + edi_address[i].split()[0][0:len(edi_address[i].split()[0]) - 1]
        
edi_lat = []
edi_lng = []

for i in range(len(edi_address)):
    target_name = edi_address[i]
    edi_lat.append(gmaps.geocode(target_name)[0].get("geometry")["location"]["lat"])
    edi_lng.append(gmaps.geocode(target_name)[0].get("geometry")["location"]["lng"])
    
edi_df["lat"] = edi_lat
edi_df["lng"] = edi_lng

edi_gu = []

for i in range(len(edi_address)):
    if edi_address[i][2:4] == "서대" or edi_address[i][2:4] == "둥대" or edi_address[i][2:4] == "영등":
        edi_gu.append(edi_address[i][2:6])
    elif edi_address[i][2:4] == "중구":
        edi_gu.append("중구")
    else:
        edi_gu.append(edi_address[i][2:5])
        
edi_df["구"] = edi_gu
edi_df = edi_df[["매장", "주소", "구", "lat", "lng"]]

sql = "insert into COFFEE_STORE (brand, name, address, gu_name, lat, lng) values (2, %s, %s, %s, %s, %s)"

for i, row in starbucks_df.iterrows():
    cursor.execute(sql, tuple(row))
    
oneday.commit()
driver.quit()

C:\Users\User\AppData\Local\Temp\ipykernel_17420\3212770754.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver.exe')

,매장,주소,구,lat,lng
0,강남YMCA점,강남YMCA점 서울 강남구 논현동,강남구,37.510543,127.035799
1,강남구청역아이티웨딩점,"강남구청역아이티웨딩점 서울 강남구 학동로 338 (논현동, 강남파라곤)",강남구,37.516551,127.040139
2,강남논현학동점,강남논현학동점 서울 강남구 논현로131길 28 (논현동),강남구,37.514076,127.028091
3,강남대치점,"강남대치점 서울 강남구 역삼로 415 (대치동, 성진빌딩)",강남구,37.501434,127.052328
4,강남도산점,강남도산점 서울 강남구 도산대로37길 20 (신사동),강남구,37.522282,127.031480
...,...,...,...,...,...
696,중랑교차로점,중랑교차로점 서울 중랑구 동일로 683 (면목동),중랑구,37.591448,127.079882
697,중랑역점,중랑역점 서울 중랑구 망우로 198 (상봉동),중랑구,37.593285,127.074889
698,중화동점,중화동점 서울 중랑구 동일로129길 1 (중화동),중랑구,37.599376,127.079526
699,중화역점,"중화역점 서울 중랑구 동일로 815, 1층",중랑구,37.603129,127.078889
700,화랑대역점,"화랑대역점 서울 중랑구 신내로25가길 2 (묵동, 현동학당)",중랑구,37.619477,127.084127

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [19]:
# 데이터베이스에서 데이터 개수와 상위 10개 레코드 조회
cursor.execute("SELECT COUNT(*) FROM COFFEE_STORE WHERE brand = 2")
total_count = cursor.fetchone()[0]
print("총 %d개의 매장 정보가 입력되었습니다." % total_count)

cursor.execute("SELECT * FROM COFFEE_STORE WHERE brand = 2 LIMIT 10")
rows = cursor.fetchall()
for row in rows:
    print(row)

총 599개의 매장 정보가 입력되었습니다.
(600, 2, '역삼아레나빌딩', '강남구', '서울특별시 강남구 언주로 425 (역삼동)', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(601, 2, '논현역사거리', '강남구', '서울특별시 강남구 강남대로 538 (논현동)', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(602, 2, '신사역성일빌딩', '강남구', '서울특별시 강남구 강남대로 584 (논현동)', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(603, 2, '국기원사거리', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(604, 2, '대치재경빌딩R', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(605, 2, '봉은사역', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(606, 2, '압구정윤성빌딩', '강남구', '서울특별시 강남구 논현로 834 (신사동)', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(607, 2, '코엑스별마당', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(608, 2, '삼성역섬유센터R', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(609, 2, '압구정R', '강남구', '서울특별시 강남구 언주로 861 (신사동)', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

문제 7. 

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

In [13]:
# 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
cursor.execute("""SELECT gu_name, count(gu_name) 
                  FROM COFFEE_STORE
                  WHERE brand = 1
                  GROUP BY gu_name
                  ORDER BY count(gu_name) DESC
                  limit 5
               """)
starbuks_top_5 = cursor.fetchall()
for row in starbuks_top_5:
    print("스타벅스 매장 주요 분포 지역 : ", row)

# 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
cursor.execute("""SELECT gu_name, count(gu_name) 
                  FROM COFFEE_STORE
                  WHERE brand = 2
                  GROUP BY gu_name
                  ORDER BY count(gu_name) DESC
                  limit 5
               """)
ediya_top_5 = cursor.fetchall()
for row in ediya_top_5:
    print("이디야커피 매장 주요 분포 지역 : ", row)

# 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
cursor.execute("""SELECT b.gu_name, a.name, count(b.gu_name)
                  FROM COFFEE_STORE b
                  JOIN COFFEE_BRAND a
                  ON a.id = b.brand
                  WHERE 1 = 1
                  GROUP BY b.gu_name, b.brand
                  ORDER BY b.gu_name;
               """)
districts_serial = cursor.fetchall()
for row in districts_serial:
    print("구별 브랜드 각각의 매장 갯수  : ", row)

# 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)
cursor.execute("""SELECT b.gu_name, 
                     (SELECT count(gu_name) FROM COFFEE_STORE WHERE brand = 1 AND gu_name = b.gu_name) AS 'STARBUCKS 매장 수',
                     (SELECT count(gu_name) FROM COFFEE_STORE WHERE brand = 2 AND gu_name = b.gu_name) AS 'EDIYA 매장 수'
                  FROM COFFEE_STORE b
                  WHERE 1 = 1
                  GROUP BY b.gu_name
                  ORDER BY b.gu_name;
               """)
districts_parallel = cursor.fetchall()
for row in districts_parallel:
    print("구별 브랜드 각각의 매장 갯수  : ", row)

스타벅스 매장 주요 분포 지역 :  ('강남구', 88)
스타벅스 매장 주요 분포 지역 :  ('중구', 53)
스타벅스 매장 주요 분포 지역 :  ('서초구', 48)
스타벅스 매장 주요 분포 지역 :  ('종로구', 40)
스타벅스 매장 주요 분포 지역 :  ('영등포구', 39)
이디야커피 매장 주요 분포 지역 :  ('강남구', 88)
이디야커피 매장 주요 분포 지역 :  ('중구', 53)
이디야커피 매장 주요 분포 지역 :  ('서초구', 48)
이디야커피 매장 주요 분포 지역 :  ('종로구', 40)
이디야커피 매장 주요 분포 지역 :  ('영등포구', 39)
구별 브랜드 각각의 매장 갯수  :  ('강남구', 'STARBUCKS', 88)
구별 브랜드 각각의 매장 갯수  :  ('강남구', 'EDIYA', 88)
구별 브랜드 각각의 매장 갯수  :  ('강동구', 'STARBUCKS', 17)
구별 브랜드 각각의 매장 갯수  :  ('강동구', 'EDIYA', 17)
구별 브랜드 각각의 매장 갯수  :  ('강북구', 'STARBUCKS', 6)
구별 브랜드 각각의 매장 갯수  :  ('강북구', 'EDIYA', 6)
구별 브랜드 각각의 매장 갯수  :  ('강서구', 'STARBUCKS', 25)
구별 브랜드 각각의 매장 갯수  :  ('강서구', 'EDIYA', 25)
구별 브랜드 각각의 매장 갯수  :  ('관악구', 'STARBUCKS', 12)
구별 브랜드 각각의 매장 갯수  :  ('관악구', 'EDIYA', 12)
구별 브랜드 각각의 매장 갯수  :  ('광진구', 'STARBUCKS', 18)
구별 브랜드 각각의 매장 갯수  :  ('광진구', 'EDIYA', 18)
구별 브랜드 각각의 매장 갯수  :  ('구로구', 'STARBUCKS', 14)
구별 브랜드 각각의 매장 갯수  :  ('구로구', 'EDIYA', 14)
구별 브랜드 각각의 매장 갯수  :  ('금천구', 'STARBUCKS', 13)
구별 브랜드 각각의 매장 갯수  :  ('금천구', 'EDIYA', 13)
구별 브랜드 각각의 매장 갯수  :  ('노원구', 'STARBUCKS', 14)
구별 브랜드 각각의 매장 갯수  :  ('노원구', 'EDIYA', 14)
구별 브랜드 각각의 매장 갯수  :  ('도봉구', 'STARBUCKS', 5)
구별 브랜드 각각의 매장 갯수  :  ('도봉구', 'EDIYA', 5)
구별 브랜드 각각의 매장 갯수  :  ('동대문구', 'STARBUCKS', 10)
구별 브랜드 각각의 매장 갯수  :  ('동대문구', 'EDIYA', 10)
구별 브랜드 각각의 매장 갯수  :  ('동작구', 'STARBUCKS', 11)
구별 브랜드 각각의 매장 갯수  :  ('동작구', 'EDIYA', 11)
구별 브랜드 각각의 매장 갯수  :  ('마포구', 'STARBUCKS', 36)
구별 브랜드 각각의 매장 갯수  :  ('마포구', 'EDIYA', 36)
구별 브랜드 각각의 매장 갯수  :  ('서대문구', 'STARBUCKS', 22)
구별 브랜드 각각의 매장 갯수  :  ('서대문구', 'EDIYA', 22)
구별 브랜드 각각의 매장 갯수  :  ('서울특별시', 'STARBUCKS', 3)
구별 브랜드 각각의 매장 갯수  :  ('서울특별시', 'EDIYA', 3)
구별 브랜드 각각의 매장 갯수  :  ('서초구', 'STARBUCKS', 48)
구별 브랜드 각각의 매장 갯수  :  ('서초구', 'EDIYA', 48)
구별 브랜드 각각의 매장 갯수  :  ('성동구', 'STARBUCKS', 14)
구별 브랜드 각각의 매장 갯수  :  ('성동구', 'EDIYA', 14)
구별 브랜드 각각의 매장 갯수  :  ('성북구', 'STARBUCKS', 15)
구별 브랜드 각각의 매장 갯수  :  ('성북구', 'EDIYA', 15)
구별 브랜드 각각의 매장 갯수  :  ('송파구', 'STARBUCKS', 34)
구별 브랜드 각각의 매장 갯수  :  ('송파구', 'EDIYA', 34)
구별 브랜드 각각의 매장 갯수  :  ('양천구', 'STARBUCKS', 16)
구별 브랜드 각각의 매장 갯수  :  ('양천구', 'EDIYA', 16)
구별 브랜드 각각의 매장 갯수  :  ('영등포구', 'STARBUCKS', 39)
구별 브랜드 각각의 매장 갯수  :  ('영등포구', 'EDIYA', 39)
구별 브랜드 각각의 매장 갯수  :  ('용산구', 'STARBUCKS', 25)
구별 브랜드 각각의 매장 갯수  :  ('용산구', 'EDIYA', 25)
구별 브랜드 각각의 매장 갯수  :  ('은평구', 'STARBUCKS', 13)
구별 브랜드 각각의 매장 갯수  :  ('은평구', 'EDIYA', 13)
구별 브랜드 각각의 매장 갯수  :  ('종로구', 'STARBUCKS', 40)
구별 브랜드 각각의 매장 갯수  :  ('종로구', 'EDIYA', 40)
구별 브랜드 각각의 매장 갯수  :  ('중구', 'STARBUCKS', 53)
구별 브랜드 각각의 매장 갯수  :  ('중구', 'EDIYA', 53)
구별 브랜드 각각의 매장 갯수  :  ('중랑구', 'STARBUCKS', 8)
구별 브랜드 각각의 매장 갯수  :  ('중랑구', 'EDIYA', 8)
구별 브랜드 각각의 매장 갯수  :  ('강남구', 88, 88)
구별 브랜드 각각의 매장 갯수  :  ('강동구', 17, 17)
구별 브랜드 각각의 매장 갯수  :  ('강북구', 6, 6)
구별 브랜드 각각의 매장 갯수  :  ('강서구', 25, 25)
구별 브랜드 각각의 매장 갯수  :  ('관악구', 12, 12)
구별 브랜드 각각의 매장 갯수  :  ('광진구', 18, 18)
구별 브랜드 각각의 매장 갯수  :  ('구로구', 14, 14)
구별 브랜드 각각의 매장 갯수  :  ('금천구', 13, 13)
구별 브랜드 각각의 매장 갯수  :  ('노원구', 14, 14)
구별 브랜드 각각의 매장 갯수  :  ('도봉구', 5, 5)
구별 브랜드 각각의 매장 갯수  :  ('동대문구', 10, 10)
구별 브랜드 각각의 매장 갯수  :  ('동작구', 11, 11)
구별 브랜드 각각의 매장 갯수  :  ('마포구', 36, 36)
구별 브랜드 각각의 매장 갯수  :  ('서대문구', 22, 22)
구별 브랜드 각각의 매장 갯수  :  ('서울특별시', 3, 3)
구별 브랜드 각각의 매장 갯수  :  ('서초구', 48, 48)
구별 브랜드 각각의 매장 갯수  :  ('성동구', 14, 14)
구별 브랜드 각각의 매장 갯수  :  ('성북구', 15, 15)
구별 브랜드 각각의 매장 갯수  :  ('송파구', 34, 34)
구별 브랜드 각각의 매장 갯수  :  ('양천구', 16, 16)
구별 브랜드 각각의 매장 갯수  :  ('영등포구', 39, 39)
구별 브랜드 각각의 매장 갯수  :  ('용산구', 25, 25)
구별 브랜드 각각의 매장 갯수  :  ('은평구', 13, 13)
구별 브랜드 각각의 매장 갯수  :  ('종로구', 40, 40)
구별 브랜드 각각의 매장 갯수  :  ('중구', 53, 53)
구별 브랜드 각각의 매장 갯수  :  ('중랑구', 8, 8)

문제 8. 

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

In [27]:
cursor.execute("""select b.id AS s_id,
                  a.name AS s_brand,
                  b.name AS s_name,
                  b.gu_name AS s_gu,
                  b.address AS s_address,
                  b.lat AS s_lat,
                  b.lng AS s_lng
                  from COFFEE_STORE b
                  join COFFEE_BRAND a
                  ON b.brand = a.id
                  WHERE b.brand = 1""")
df_starbucks = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
result_starbucks = [columns, *df_starbucks]
df_starbucks = pd.DataFrame(result_starbucks)

cursor.execute("""select b.id AS e_id,
                  a.name AS e_brand,
                  b.name AS e_name,
                  b.gu_name AS e_gu,
                  b.address AS e_address,
                  b.lat AS e_lat,
                  b.lng AS e_lng
                  from COFFEE_STORE b
                  join COFFEE_BRAND a
                  ON b.brand = a.id
                  WHERE b.brand = 2""")
df_ediya = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]
result_ediya = [columns, *df_ediya]
df_ediya = pd.DataFrame(result_ediya)

df_cafe = pd.concat([df_starbucks, df_ediya], axis=1)
df_cafe

df_cafe.to_csv('[DS]sql1_leeminsoo.csv', sep=',', header=False, index=False, encoding='euc-kr')
cursor.close()

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

---